In [62]:
# %pip install pandas
# %pip install matplotlib
# %pip install numpy
# %pip install csv

In [63]:
import numpy as np
import pandas as pd
import csv

In [64]:
# Importing the dataset
dataset = pd.DataFrame(pd.read_csv('./fakedata/2k5data.csv'))

In [65]:
dataset.shape

(1831, 15)

In [66]:
dataset = dataset.dropna()
dataset.shape

(1831, 15)

In [67]:
dataset.columns

Index(['id', 'name', 'total_ratings', 'stars', 'genres', 'imdb_link',
       'tmdb_link', 'description', 'release_year', 'label', 'duration',
       'languages', 'directors', 'cast', 'img_link'],
      dtype='object')

# Movie

In [68]:
data_crawl = pd.read_csv('./fakedata/data_crawl.csv')

In [69]:
data_crawl.shape

(1831, 15)

In [70]:
data_crawl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1831 entries, 0 to 1830
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1831 non-null   int64
 1   name           1831 non-null   object
 2   total_ratings  1831 non-null   float64
 3   stars          1831 non-null   float64
 4   genres         1831 non-null   object
 5   imdb_link      1831 non-null   object
 6   description    1831 non-null   object
 7   release_year   1831 non-null   float64
 8   label          1831 non-null   object
 9   duration       1831 non-null   object
 10  languages      1831 non-null   object
 11  directors      1831 non-null   object
 12  cast           1831 non-null   object
 13  img_link       1831 non-null   object
 14  video_link     1814 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 214.7+ KB

In [71]:

# def img_link(x):
#     return ' \'' + str(x) + '\''
# data_crawl['img_link'] = data_crawl['img_link'].apply(img_link)

# data_crawl['img_link']

In [72]:
movie = data_crawl[['id', 'name', 'description', 'release_year', 'duration',
       'directors', 'cast', 'img_link', 'video_link']]

# movie = dataset[['id', 'name', 'description', 'release_year', 'duration',
#        'directors', 'cast']]
movie.shape

(1831, 9)

In [73]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1831 entries, 0 to 1830
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1831 non-null   int64
 1   name          1831 non-null   object
 2   description   1831 non-null   object
 3   release_year  1831 non-null   float64
 4   duration      1831 non-null   object
 5   directors     1831 non-null   object
 6   cast          1831 non-null   object
 7   img_link      1831 non-null   object
 8   video_link    1814 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 128.9+ KB

In [74]:
def id(x):
    return '\t(' + str(x)

def name(x):
    return '\'' + str(x).replace('\'','\\\'').replace('\n','\\n').replace('\r','\\r').replace('\t','\\t').replace('\"','') + '\''

def description(x):
    return '\'' + str(x).replace('\'','\\\'').replace('\n','\\n').replace('\r','\\r').replace('\t','\\t').replace('\"','') + '\''

def release_year(x):
    return str(int(x))

def duration(x):
    return str(int(str(x).replace(' minutes','')))

def directors(x):
    return '\'' + str(x).replace('[','').replace(']','').replace('\'','').replace('\"','') + '\''

def cast(x):
    return '\'' + str(x).replace('[','').replace(']','').replace('\'','').replace('\"','') + '\''

def img_link(x):
    return '\'' + str(x) + '\''

def video_link(x):
    return '\'' + str(x) + '\'),'

In [75]:
movie['id'] = movie['id'].apply(id)
movie['name'] = movie['name'].apply(name)
movie['description'] = movie['description'].apply(description)
movie['release_year'] = movie['release_year'].apply(release_year)
movie['duration'] = movie['duration'].apply(duration)
movie['directors'] = movie['directors'].apply(directors)
movie['cast'] = movie['cast'].apply(cast)
movie['img_link'] = movie['img_link'].apply(img_link)
movie['video_link'] = movie['video_link'].apply(video_link)

C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3817191811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['id'] = movie['id'].apply(id)
C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3817191811.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['name'] = movie['name'].apply(name)
C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3817191811.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['description'] = movie['description'].apply(description)
C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3817191811.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['release_year'] = movie['release_year'].apply(release_year)
C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3817191811.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['duration'] = movie['duration'].apply(duration)
C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3817191811.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['directors'] = movie['directors'].apply(directors)
C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3817191811.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['cast'] = movie['cast'].apply(cast)
C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3817191811.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['img_link'] = movie['img_link'].apply(img_link)
C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3817191811.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['video_link'] = movie['video_link'].apply(video_link)

In [76]:
movie.head()

,id,name,description,release_year,duration,directors,cast,img_link,video_link
0,\t(1,'Toy Story',"'Led by Woody, Andy\'s toys live happily in hi...",1995,81,'John Lasseter',"'Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",'https://image.tmdb.org/t/p/original/lxD5ak7BO...,'https://imdb-video.media-imdb.com/vi205212930...
1,\t(2,'Jumanji','When siblings Judy and Peter discover an ench...,1995,104,'Joe Johnston',"'Robin Williams, Kirsten Dunst, Bradley Pierce...",'https://image.tmdb.org/t/p/original/i7jKGJZjG...,"'nan'),"
2,\t(3,'Grumpier Old Men','A family wedding reignites the ancient feud b...,1995,101,'Howard Deutch',"'Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",'https://image.tmdb.org/t/p/original/1J4Z7VhdA...,"'nan'),"
3,\t(4,'Waiting to Exhale',"'Cheated on, mistreated and stepped on, the wo...",1995,127,'Forest Whitaker',"'Whitney Houston, Angela Bassett, Loretta Devi...",'https://image.tmdb.org/t/p/original/jZjoEKXMT...,"'nan'),"
4,\t(5,'Father of the Bride Part II','Just when George Banks has recovered from his...,1995,106,'Charles Shyer',"'Steve Martin, Diane Keaton, Martin Short, Kim...",'https://image.tmdb.org/t/p/original/lEsjVrGU2...,'https://imdb-video.media-imdb.com/vi398601448...

In [77]:
# movie.to_csv('movie.csv', index=False)

# Movie_label

In [78]:
movie_label = dataset[['id', 'label']]

In [79]:
def id(x):
    return '\t(' + str(x)

def label(x):
    return ' \'' + str(x) + '\'),'

In [80]:
movie_label['id'] = movie_label['id'].apply(id)
movie_label['label'] = movie_label['label'].apply(label)

C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3502754357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_label['id'] = movie_label['id'].apply(id)
C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3502754357.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_label['label'] = movie_label['label'].apply(label)

In [81]:
movie_label.head()

     id       label
0  \t(1       'G'),
1  \t(2      'PG'),
2  \t(3   'PG-13'),
3  \t(4       'R'),
4  \t(5      'PG'),

In [82]:
# movie_label.to_csv('movie_label.csv', index=False)

# Movie_genre

In [83]:
movie_genre = dataset[['id', 'genres']]

In [84]:
movie_genre['genres'].value_counts()

genres
['Drama']                                           114
['Drama', 'Romance']                                 85
['Comedy']                                           81
['Comedy', 'Drama']                                  67
['Comedy', 'Romance']                                65
                                                   ...
['Animation', 'Adventure', 'Family']                  1
['Comedy', 'Crime', 'Drama', 'Thriller']              1
['Action', 'Fantasy', 'Thriller']                     1
['Romance', 'Drama', 'Comedy', 'History']             1
['Comedy', 'Drama', 'Family', 'Science Fiction']      1
Name: count, Length: 616, dtype: int64

In [85]:
def id(x):
    return '\t(' + str(x) + ', '

In [86]:
def replace(x):
    return x.replace('[', '').replace(']', '').replace(', ', ',').replace(',,', ',')

In [87]:
def add_space(x):
    x = replace(x)
    if 'ScienceFiction' in x:
        return x.replace('ScienceFiction','Science Fiction')
    if 'TVMovie' in x:
        return x.replace('TVMovie','TV Movie')
    return x

In [88]:
def split_genre(x):
    x = add_space(x)
    return x.split(',')

In [89]:
movie_genre['id'] = movie_genre['id'].apply(id)

C:\Users\longt\AppData\Local\Temp\ipykernel_12956\3615473202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_genre['id'] = movie_genre['id'].apply(id)

In [90]:
movie_genre['genres'] = movie_genre['genres'].apply(split_genre)

C:\Users\longt\AppData\Local\Temp\ipykernel_12956\2604493277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_genre['genres'] = movie_genre['genres'].apply(split_genre)

In [91]:
movie_genre['genres'].iloc[776]

["'Comedy'", "'Adventure'"]

In [92]:
genres = []

In [93]:
# cnt = 0
# with open('../insert2nd/movie_genre.sql', 'w') as f:
#     for i in range(movie_genre.shape[0]):
#         f.write('INSERT INTO movie_genre (movie_id, genre_name)\nVALUES\n')
#         arr = movie_genre['genres'].iloc[i]
#         for j in range(len(arr)):
#             str = movie_genre['id'].iloc[i]
#             genre = arr[j]
#             if genre is None or genre == '':
#                 continue
#             str += (genre + ('),\n' if j < len(arr) - 1 else ');\n'))
#             if genre not in genres:
#                 genres.append(genre)
#             cnt += 1
#             # print(cnt)
#             f.write(str)
#     print(cnt)
#     f.close()

In [94]:
genres = sorted(genres)
for genre in genres:
    print(genre)
    
print(len(genres))

0

In [95]:
# movie_genre['1'] = movie_genre['genres'].apply(lambda x: f(x, 0))
# movie_genre['2'] = movie_genre['genres'].apply(lambda x: f(x, 1))
# movie_genre['3'] = movie_genre['genres'].apply(lambda x: f(x, 2))
# movie_genre['4'] = movie_genre['genres'].apply(lambda x: f(x, 3))
# movie_genre['5'] = movie_genre['genres'].apply(lambda x: f(x, 4))
# movie_genre['6'] = movie_genre['genres'].apply(lambda x: f(x, 5))
# movie_genre['7'] = movie_genre['genres'].apply(lambda x: f(x, 6))

In [96]:
# movie_genre.drop('genres', axis=1, inplace=True)

In [97]:
movie_genre

             id                                            genres
0        \t(1,     ['Animation', 'Adventure', 'Family', 'Comedy']
1        \t(2,                 ['Adventure', 'Fantasy', 'Family']
2        \t(3,                              ['Romance', 'Comedy']
3        \t(4,                     ['Comedy', 'Drama', 'Romance']
4        \t(5,                               ['Comedy', 'Family']
...         ...                                               ...
1826  \t(2498,   ['Comedy', 'Drama', 'Family', 'Science Fiction']
1827  \t(2500,                                ['Comedy', 'Crime']
1828  \t(2501,                                ['Drama', 'Family']
1829  \t(2502,                                         ['Comedy']
1830  \t(2504,                     ['Comedy', 'Drama', 'Romance']

[1831 rows x 2 columns]

# User_rating

In [98]:
user_rating = pd.read_csv('./fakedata/ratings.csv')

In [99]:
user_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [100]:
user_rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [101]:
user_rating['rating'] = user_rating['rating'] * 2

In [102]:
user_rating['rating']

0           10.0
1            7.0
2           10.0
3           10.0
4            7.0
            ...
25000090     9.0
25000091     5.0
25000092     4.0
25000093     8.0
25000094    10.0
Name: rating, Length: 25000095, dtype: float64

In [103]:
user_rating = user_rating.loc[(user_rating['movieId'].isin(dataset['id'])) & (user_rating['rating'] >= 1)]

In [104]:
user_rating.shape

(10655051, 4)

In [105]:
user_rating.head()

   userId  movieId  rating   timestamp
0       1      296    10.0  1147880044
1       1      306     7.0  1147868817
2       1      307    10.0  1147868828
4       1      899     7.0  1147868510
5       1     1088     8.0  1147868495

In [106]:
def userid(x):
    return '\t(' + str(x)

def movieid(x):
    return str(x)

def rating(x):
    return str(int(x))

def timestamp(x):
    return 'FROM_UNIXTIME(' + str(x) + ')),'

In [107]:
user_rating['userId'] = user_rating['userId'].apply(userid)
user_rating['movieId'] = user_rating['movieId'].apply(movieid)
user_rating['rating'] = user_rating['rating'].apply(rating)
user_rating['timestamp'] = user_rating['timestamp'].apply(timestamp)

In [108]:
user_rating.tail()

             userId movieId rating                    timestamp
25000002  \t(162541    2324      9  FROM_UNIXTIME(1240953595)),
25000003  \t(162541    2329      9  FROM_UNIXTIME(1240950831)),
25000004  \t(162541    2352      5  FROM_UNIXTIME(1240952298)),
25000005  \t(162541    2396      8  FROM_UNIXTIME(1240952712)),
25000006  \t(162541    2407      6  FROM_UNIXTIME(1240946787)),

In [109]:
index = pd.DataFrame(np.arange(0, user_rating.shape[0]), columns=['index'])

In [110]:
index.head()

   index
0      0
1      1
2      2
3      3
4      4

In [111]:
user_rating.set_index(index['index'], inplace=True)

In [112]:
user_rating.tail()

             userId movieId rating                    timestamp
index
10655046  \t(162541    2324      9  FROM_UNIXTIME(1240953595)),
10655047  \t(162541    2329      9  FROM_UNIXTIME(1240950831)),
10655048  \t(162541    2352      5  FROM_UNIXTIME(1240952298)),
10655049  \t(162541    2396      8  FROM_UNIXTIME(1240952712)),
10655050  \t(162541    2407      6  FROM_UNIXTIME(1240946787)),

In [113]:
# i = 0

# while i < 11:
#     try:
#         print(i)
#         idx = i * 100000
#         user_rating.iloc[idx:idx+100000].to_csv(f'../insert2nd/user_rating/user_rating_{i + 1}.csv', index=False, quotechar=' ')
#         i += 1
        
#     except Exception as e:
#         print(e)
#         break

# User_movie